@import "../../variables.scss";

input {
  border-radius: 8px;
  width: 200px;
  min-height: 56px;
  border: 1px solid $input-border;
  box-sizing: border-box;
  font-size: 14px;
  padding: 12px;
  color: $input-text-color;
  font-family: Noto Sans JP;
  // margin: auto;

  &:hover:not([disabled]),
  &.error:hover {
    border: 1px solid $input-text-color;
  }

  &[disabled] {
    background-color: #f2f2f2;
  }
}

input.error {
  border: 1px solid red;
}
