@import "../../variables.scss";

button {
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  background-color: $button-default;
  border: unset;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  color: $button-dark-text;
  font-size: 14px;
  min-width: 49px;
  min-height: 20px;

  i.material-icons {
    font-size: 16px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
  }

  &:focus:not([disabled]) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $button-default;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $button-default-hover;
  }
}

button[variant="outline"] {
  background-color: white;
  color: $button-blue;
  border: 1px solid $button-blue;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $button-blue-hover;
  }

  &:focus:not([disabled]) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $button-blue-hover;
  }
}

button[variant="text"] {
  background-color: white;
  color: $button-blue;
  box-shadow: none;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $button-blue-hover;
  }

  &:focus:not([disabled]) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $button-blue;
  }
}

button.disable-shadow,
button[disabled] {
  box-shadow: none;
}

button[disabled] {
  cursor: not-allowed;
  background-color: $button-disabled-bg;
  color: $disabled-color;
}

button.size-sm {
  padding: 6px 12px 6px 12px;
}

button.size-lg {
  padding: 11px 22px 11px 22px;
}

button.primary {
  color: white;
  background-color: $button-blue;

  &:focus:not([disabled]) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $button-blue;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $button-primary-hover;
  }
}

button.secondary {
  color: white;
  background-color: $button-secondary;

  &:focus:not([disabled]) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $button-secondary;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $button-secondary-hover;
  }
}

button.danger {
  color: white;
  background-color: $danger;

  &:focus:not([disabled]) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $danger;
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $button-danger-hover;
  }
}
