@import "../../colors.scss";

footer {
  height: 2.5em;
  bottom: 0;
  width: 100%;
  background-color: $bg-grey;
  color: black;
  text-align: center;
  padding: 2px;

  p {
    margin-top: 8px;
  }
}
