@import "./colors.scss";

.App {
  text-align: center;
  margin-bottom: 2.5em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-dark;
}

.code-label {
  margin-bottom: 8px;
  margin-top: 20px;
}

.margin-right {
  margin-right: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-1 {
  flex: 1;
}
