$text-dark: #4f4f4f;
$button-dark-text: #3f3f3f;
$bg-grey: #dadada;

$button-default: #e0e0e0;
$button-default-hover: #aeaeae;

$button-blue: #3d5afe;
$button-blue-hover: rgba(41, 98, 255, 0.1);

$button-primary-hover: #0039cb;

$button-secondary: #455a64;
$button-secondary-hover: #1c313a;

$button-danger: #d32f2f;
$button-danger-hover: #9a0007;

$disabled-color: #9e9e9e;
$button-disabled-bg: #e0e0e0;

$bg-code-example: #f1f1f1;

$sidebar-width: 180px;
