@import "../../variables.scss";

div.control-group {
  display: inline-flex;
  flex-direction: column;

  &:focus-within {
    input:not([disabled]):not(.icon) {
      outline: 0;
      border: 1px solid $input-focus;
    }

    label:not(.error) {
      color: $input-focus;
    }

    input.error:not([disabled]) {
      outline: 0;
      border: 1px solid $danger;
    }
  }

  &:hover {
    label.error {
      color: $input-text-color;
    }
  }
}
